
{% extends 'account/base.html' %}

 {% block title %}
          yasana -- login
 {% endblock title %}

 {% block main-container %}

     <h3> Please Login</h3>

     <form action="{% url 'account:login' %}" method="post">
        {% csrf_token %}
     <p>
        <input type="text" name="email" placeholder="Please enter your email" maxlength="255"
                 {% if login_form.email.value %}
                     value = '{{ login_form.email.value }}'
                 {% endif %}
                >
        {% if login_form.email.errors %}
             <label style="color:red;"> {{ login_form.email.errors.0 }}</label>
        {% endif %}
         </p>
     <p>
        <input type="password" name='password' maxlength="255" placeholder="Please enter your password">
     {% if login_form.password.errors %}
             <label style="color:red;"> {{ login_form.password.errors.0 }}</label>
        {% endif %}
     </p>

     <p>
        <input type="submit" value="Login">
     </p>

        <label style="color: red; font-size: 12px;">
           {% if error_message %}
               {{ error_message }}
            {% endif %}
        </label>
     </form>

 {% endblock main-container %}