
{% load staticfiles %}

<script type="text/template" id="task-template">

     <div class="page-header-wrapper">
     <div class="page-sub-title">
     Pending task
     </div>

     <div class="new-entity-div">
     <button type="button" class="btn btn-success" id="new-task-btn">New task</button>
     </div>
     </div>


  <div class="grid-wrapper">

  <div class="grid-rows">

      <table class="table table-hover table-striped">
      <thead class="grid-thead">
        <tr>
          <th class="image-th">Title</th>
          <th>Start Date</th>
          <th>Expected End Date</th>
          <th>Details</th>
          <th>Priority</th>
            <th>Options</th>
        </tr>
      </thead>
      <tbody id="tbody">

      </tbody>
    </table>
  </div>

  <div class="grid-footer">
      <input type="button" class="btn btn-default" id="load-more-btn" value="Load more..."/>
  </div>

  </div>

</script>
<script type="text/template" id="task-row">
     <tr>
          <th class="stickit_title" scope="row"><%= task.title %></th>
          <td class="stickit_start_date"><%= task.start_date %></td>
         <td class="stickit_end_date"><%= task.expected_end_date %></td>
          <td class="stickit_details"><%= task.details %></td>
         <td class="stickit_priority"><%= task.priority %></td>
            <td>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
</script>
